.all{
    background-color: black;
}
main{
    height: 100vh;
    background-image:url(../images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    overflow: hidden;
}
main::before{
    z-index: 2000;
    bottom: 0%;
    content: '';
    position: absolute;
    height: 200px;
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}
.logo_main{
    justify-self: flex-end;
    height: 50vh;
    position: static;
}
.content{
    background-color: rgba(0, 0, 0, 0.797);
    min-height: 150vh;
}
.explore_more{
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
    z-index: 10000;
    display: flex;
    justify-content: center;
}
.explore_more button{
    display: flex;
    background-color: aliceblue;
}
.hero{
    background-color: #183752;
    margin: 15px;
    margin-top: 100px;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-gap: 10px;
    border-radius: 20px;
    text-align: center;
    min-height: 50vh;
}
.hero_items{
    display: grid;
    grid-gap: 10px;
}
.hero_items:hover{
    filter: brightness(25);
}
.two{
    border-right: 2px solid gray;
    border-left: 2px solid gray;
}
.hero img{
    filter: invert();
    display: flex;
    justify-self: center;
}
.hero p{
    font-weight: 100;
    font-size: 14px;
}
.hero_img:hover{
    /* filter:brightness(50); */
}
.hero h3{
    justify-self: center;
}
.about_gym{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    margin: 15px;
    margin-top: 35px;
    padding: 60px;
    background-color: #183752;
    border-radius: 20px;
}
.about_gym h3{
    letter-spacing: 10px;
}
.about_gym span{
    letter-spacing: 2px;
}
.about_gym img{
    object-fit: cover;
    height: 100%;
}
@media only screen and (max-width:600px){
    main{
        background-image: url(../images/5.jpg);
        background-size: cover;
    }
    .main_text{
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 1.3;
    }
    .logo_main{
        visibility: hidden;
    }
    .hero{
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
    }
    .two{
        border: none;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .about_gym{
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
        padding: 30px;
        /* text-align: center; */
    }
    .about_gym h3{
        font-size: 72px;
    }
}