.all{
    background-color: #212929;
    min-height: 100vh;
}
main{
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.112), #212929c4), url(../images/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #212929;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    overflow: hidden;
}
main::before{
    z-index: 10;
    bottom: 0%;
    content: '';
    position: absolute;
    height: 150px;
    width: 100%;
    background: linear-gradient(to top, #212929 0%, rgba(0, 0, 0, 0) 100%);
}
.logo_main{
    justify-self: flex-end;
    height: 50vh;
    position: static;
}
.content{
    margin-top: 100px;
    overflow: hidden;
    z-index: 5;
    background-color: #212929;
    min-height: 150vh;
    padding: 60px;
}
.explore_more{
    position: absolute;
    bottom: 1%;
    width: 100%;
    text-align: center;
    z-index: 15;
    display: flex;
    justify-content: center;
}
.explore_more button{
    display: flex;
    background-color: aliceblue;
}
.motivation{
    text-align: center;
    font-size: larger;
    letter-spacing: 2px;
}
.hero{
    background-color: #183752;
    margin: 15px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-gap: 10px;
    border-radius: 20px;
    text-align: center;
}
.hero_items{
    display: grid;
    grid-gap: 10px;
}
.hero_items:hover{
    filter: brightness(25);
}
.two{
    border-right: 2px solid gray;
    border-left: 2px solid gray;
}
.hero img{
    filter: invert();
    display: flex;
    justify-self: center;
}
.hero p{
    font-weight: 100;
    font-size: 14px;
}
.hero_img:hover{
    /* filter:brightness(50); */
}
.hero h3{
    justify-self: center;
}
.about_gym{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    margin: 15px;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 60px;
    background-color: #183752;
    border-radius: 20px;
}
.about_gym h3{
    letter-spacing: 10px;
}
.about_gym span{
    letter-spacing: 2px;
}
.about_gym_img{
    object-fit: cover;
    height: 100%;
    border-radius: 20px;
}
.social_media{
    display: flex;
}
.social_media a{
    display: flex;
    margin-right: 10px;
}
.social_media_img{
    height: 20px;
    margin-right: 5px;
}
.social_media_main{
    position: absolute;
    bottom: 3%;
    margin-left: 20px;
    padding:5px;
    z-index: 15;
    left: 0%;
}
.social_media_main_img{
    height: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

@media only screen and (max-width:800px){
    main{
        background-image:linear-gradient(rgba(255, 255, 255, 0), #212929e7), url(../images/5.jpg);
        background-size: cover;
        height: 93vh;
    }
    .main_text{
        font-size: 45px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 1.3;
        margin-top: 100px;
    }
    .main_text button{
        font-size:small;
    }
    .logo_main{
        visibility: hidden;
    }
    .content{
        padding: 20px;
    }
    .hero{
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
    }
    .two{
        border: none;
        border-top: 2px solid gray;
        border-bottom: 2px solid gray;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .about_gym{
        grid-template-columns: repeat(1,1fr);
        margin: 20px;
        padding: 30px;
        /* text-align: center; */
    }
    .about_gym h3{
        font-size: 72px;
    }
    main::before{
        height: 200px;
    }
    .social_media_main{
        display: flex;
        position: relative;
        margin-left: 0%;
        z-index: 15;
    }
}