.all_abt{
    background-color: #212929f3;
    overflow: hidden;
    min-height: 100vh;
    margin: 0%;
    padding: 0%;
    color: rgb(255, 255, 255);
}
.about_main{
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.112), #212929c4), url(./images/ab2.jpg);
    background-size:cover;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.abt_one{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    border-left: 20px rgba(255, 255, 255, 0.2) solid;
    border-top: 20px rgba(255, 255, 255, 0.2) solid;
    border-bottom: 20px rgba(255, 255, 255, 0.2) solid;
}
.abt_head{
}
.abt_head p{
    letter-spacing: 10px;
    font-weight: 700;
    height: 100%;
}
.our_mission{
    text-align: right;
    letter-spacing: 1px;
}
.our_mission h3{
    font-size: 90px;
    border-right: 20px solid rgba(255, 255, 255, 0.2);
    line-height: 100px;
    letter-spacing: 5px;
}
.para{
    font-size: small;
}
.content_abt{
    overflow: hidden;
    z-index: 5;
    background-color: #212929;
    min-height: 150vh;
    padding: 60px;
}
.services{
    background-color: #18375200;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}
.serve_head{
    font-size: 50px;
    /* border-left: 20px rgba(255, 255, 255, 0.2) solid; */
}
.serve_head h3{
    text-shadow: #0000008e 8px 2px;
}
.serve{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}
.serve_card{
    background-color: #183752;
    padding: 30px;
    text-align: center;
    min-height: 45vh;
    border-radius: 10px;
}
.serve_card h3{
    font-size: x-large;
    text-decoration: underline gray ;
}
.time{
    text-align: center;
}
.time_head{
    font-size: 50px;
    text-shadow: #0000008e 8px 2px;
}
.timming{
    background-color: #183752;
    border-radius: 10px;
    padding: 20px;
}
.contact{
    text-align: center;
    margin-top: 40px;
}
.con_head{
    font-size: 50px;
    text-shadow: #0000008e 8px 2px;
}
.concard_grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 5px;
}
.con_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #183752;
    border-radius: 10px;
    padding: 20px;
}
.address{
    text-align: left;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 900px){
    .abt_one{
        grid-template-columns: repeat(1,1fr);
        /* padding: 5%; */
    }
    .abt_head p{
        font-size: xx-large;
        border-right: 20px rgba(255, 255, 255, 0.2) solid;
    }
    .our_mission h3{
        font-size: larger;
    }
    .content_abt{
        padding: 20px;
    }
    .services{
        padding: 20px;
    }
    .serve_head{
        font-size: 30px;
    }
    .services p{
        font-size: small;
    }
    .serve{
        grid-template-columns: repeat(1,1fr);
    }
    .serve_card{
        padding: 20px;
    }
    .concard_grid{
        grid-template-columns: repeat(2,1fr);
    }
    .mail{
        grid-column: span 2;
    }
}
